<section>
    <div class="container">
        <form class="mt-4" action="/admin/add-products"  method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="formGroupExampleInput">Product</label>
    <input type="text" class="form-control" id="formGroupExampleInput" name="Product" placeholder="Product">
    <label for="formGroupExampleInput2">Catagory</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" name="Catagory" placeholder="Catagory">
    <label for="formGroupExampleInput2">Description</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" name="Description" placeholder="Description">
    <label for="formGroupExampleInput2">Choose images</label>
    <input type="file" class="form-control" id="formGroupExampleInput2" name="getImages">
    <label for="formGroupExampleInput2">Price</label>
    <input type="number" name="Price" class="form-control" placeholder="Price"><br>
    <input type="submit" class="form-control  btn-success" onclick="alert('product added successfully')" id="formGroupExampleInput btn" placeholder="Example input">

  </div>
</form>
    </div>
</section>